body {
    background: #F3F5FC;
    position: relative;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 40px 0px 0px 80px;
}

#texto-entrada {
    position: absolute;
    width: 680px;
    height: 400px;
    left: 240px;
    top: 128px;

    resize: none;

    border: none;
    background: #F3F5FC;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.principal p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 811px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}


.principal img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 845px;

}

#bt-criptografar {
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;    
}

#bt-descriptografar {
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}


#retangulo-inicio {
    display: block;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 0px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#retangulo-mensagem {
    display: none;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 0px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#retangulo-inicio img {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

#legenda-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 579px;
}

#retangulo-inicio h2 {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    color: #343A40;
}

#retangulo-inicio p {
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #495057;
}

#mensagem-manipulada {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 32px;
    top: 32px;
    text-align: start;
    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;
    border: none;
}

#retangulo-mensagem button {
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}

.tooltip {
    position: absolute;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

footer {
    display: block;
    text-align: center;
    position: absolute;
    width: 1400px;
    left: 0px;
    top: 985px;
    padding: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

@media only screen and (max-width: 768px) {
    main {
        display: flex;
        min-height: 42vmax;

    }
    #logo {
        position: absolute;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }

    #texto-entrada {
        position: absolute;
        width: 688px;
        height: 400px;
        top: 240px;
        left: 40px;
    }
    
    .principal p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: absolute;
        width: 252px;
        height: 18px;
        left: 40px;
        top: 836px;
    }
    
    .botoes {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;    
    }
    
    #retangulo-inicio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 624px;
        height: 69px;
        left: 40px;
        top: 1001px;
    }
    
    #retangulo-mensagem {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 624px;
        height: 343px;
        left: 40px;
        top: 1001px;
    }
    
    #retangulo-inicio img {
        display: none;
    }
    
    #legenda-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;

        position: relative;
        width: 624px;
        height: 69px;
        left: auto;
        top: auto;
    }
    
    #retangulo-inicio h2 {  
        width: 624px;
        height: 29px;  
    }
    
    #retangulo-inicio p {
        width: 624px;
        height: 24px;
    }
    
    #mensagem-manipulada {
        position: absolute;
        width: 624px;
        height: 180px;
    }
    
    #retangulo-mensagem button {
        left: 32px;
        top: 244px;
        
        width: 578px;
        height: 67px;   
    }

    footer {
        display: flexbox;
        text-align: center;
        position: relative;
        width: 768px;
    }

}

@media only screen and (max-width: 375px) {
    body {
        position: relative;
        width: 375px;
        height: auto;
    }
    main {
        min-height: 60vmax;

    }

    header {
        position: absolute;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 0px;

    }
    #logo {
        position: absolute;
        left: -32px;
        top: 0px;
    }

    #texto-entrada {
        position: absolute;
        width: 343px;
        height: 240px;
        left: 16px;
        top: 152px;
    }
    
    .principal p {
        position: absolute;
        width: 252px;
        height: 18px;
        left: 16px;
        top: 451px;
    }
    
    .botoes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;    
    }
    
    #retangulo-inicio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        
        position: absolute;
        width: 263px;
        height: 186px;
        left: 24px;
        top: 707px;
    }
    
    #retangulo-mensagem {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        
        position: absolute;
        width: 263px;
        height: 595px;
        left: 24px;
        top: 707px;
    }
    
    #retangulo-inicio img {
        display: none;
    }
    
    
    #retangulo-inicio h2 {  
        width: 263px;
        height: 122px;  
    }
    
    #retangulo-inicio p {
        width: 263px;
        height: 122px;
    }
    
    #mensagem-manipulada {
        position: absolute;
        width: 263px;
        height: 432px;
    }
    
    #retangulo-mensagem button {
        left: -8px;
        top: 496px;
        
        width: 279px;
        height: 67px;   
    }

    footer {
        display: flexbox;
        text-align: center;
        position: relative;
        float: inline-start;
        width: auto;
    }

}
